@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #f0fff5;
  color: #1b7960;
  padding: 20px 40px;
  line-height: 1.6;
  border: 10px double #064e3b; /* Moldura decorativa*/
  border-radius: 25px;
  padding: 30px;
  margin: 20px;
  background-color: #f0fff5;
  box-shadow: 0 0 15px rgba(6, 78, 59, 0.3); /* Sombra suave ao redor */
}



/* Cabeçalho */
header {
  font-size: 2.5em;
  font-weight: 700;
  color: #297c60;
  text-align: center;
  margin-bottom: 10px;
  letter-spacing: 2px;
  padding-bottom: 10px;
  border-bottom: 3px solid #10b981;
}

/* Texto principal */
.chamada-texto {
  max-width: 1000px;
  margin: 30px auto;
}

.chamada-texto h1 {
  font-size: 2em;
  color: #065f46;
  margin-bottom: 10px;
  text-align: center;
}

.chamada-texto h2 {
  font-size: 1.4em;
  color: #10b981;
  margin-bottom: 15px;
  text-align: center;
}

.chamada-texto p ol {
  padding-left: 20px;
}

.chamada-texto li {
  margin-bottom: 12px;
}

/* Seções gerais */
section {
  max-width: 1000px;
  margin: 40px auto;
  padding: 20px;
}

/* Redação */
section img {
  display: block;
  margin: 30px auto;
  max-width: 100%;
  border-radius: 15px;
  border: 3px solid #10b981;
}

/* Curiosidade */
.curiosidade {
  background-color: #e6fef2;
  border-left: 5px solid #10b981;
  padding: 20px;
  border-radius: 12px;
  margin-top: 40px;
}

.curiosidade h2 {
  color: #065f46;
  margin-bottom: 10px;
}

/* Colunas */
.colunas {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 40px;
}

.coluna {
  flex: 1;
  min-width: 280px;
  background-color: #ffffff;
  border: 2px solid #10b981;
  border-radius: 12px;
  padding: 20px;
  text-align: center;
  box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.05);
}

.coluna img {
  max-width: 100%;
  height: auto;
  margin-bottom: 15px;
  border-radius: 10px;
  border: 2px solid #d1fae5;
}

.coluna h2 {
  color: #10b981;
  margin-bottom: 10px;
}

/* Rodapé */
footer {
  text-align: center;
  color: #486e4d;
  font-size: 0.9em;
  margin-top: 50px;
  padding: 20px 0;
  border-top: 1px solid #0d643c;
}

/* Responsividade */
@media (max-width: 768px) {
  body {
    padding: 20px;
  }

  header {
    font-size: 2em;
  }

  .chamada-texto h1,
  section h1 {
    font-size: 1.5em;
  }

  .colunas {
    flex-direction: column;
  }

  .coluna {
    margin-bottom: 20px;
  }
}
